<h1> Teams </h1>
<h3> Filtrar por nombre</h3>
<%= form_tag teams_path, method: "get", remote: true do %>
<p>
  <%= text_field_tag :buscar, params[:buscar] %>
  <%= submit_tag "Buscar", name: "" %>
</p>
<% end %>
<br/>
<br/>


<div id="teams">
  <%= render @teams %>
</div>

<br>

<%= link_to 'New Team', new_team_path %>
