<%= form_with(model: [@article, @article.comments.new], local: true) do |form| %>

  
  <div class="field">
    <%= form.label :body, 'Deja tu comentario:', class:"comment" %>
    <%= form.text_area :body, class:"comment"%>
  </div>

  <div class="field">
    <input name="comment[user_id]" type="text" hidden value='<%= current_user.id %>'>
  </div>

  <div class="actions">
    <%= submit_tag "Comentar", class:"btn btn-default botonArticulo" %>
  </div>

<% end %>
