<h1> Competitions </h1>
<h3> Filtrar por nombre</h3>
<%= form_tag competitions_path, method: "get", remote: true do %>
<p>
  <%= text_field_tag :buscar, params[:buscar] %>
  <%= submit_tag "Buscar", name: "" %>
</p>
<% end %>
<br/>
<br/>


<div id="competitions">
  <%= render @competitions %>
</div>

<br>

<%= link_to 'New Competition', new_competition_path %>
