<%= render  @competition %> 

<h3> Teams </h3>
<div  id="teams">
  <%= render @competition.teams %> 
</div>

<%= link_to 'New Team', new_team_path(@competition) %> | 

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
