<%= form_with(model: [@player, @player.player_stats.new], local: true) do |form| %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="actions">
    <%= form.submit 'Add' %>
  </div>
<% end %>
