<%= form_with(model: @result, local: true, html: {multipart: true}) do |form| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :localPoints %>
    <%= form.number_field :localPoints, id: :result_localPoints %>
  </div>

  <div class="field">
    <%= form.label :visitorPoints %>
    <%= form.number_field :visitorPoints, id: :result_visitorPoints %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :result_date %>
  </div>
		
	<div class="field">
    <%= form.label :team_id_local %>
    <%= form.number_field :team_id_local, id: :result_team_id_local %>
  </div>

	<div class="field">
    <%= form.label :team_id_visitor %>
    <%= form.number_field :team_id_visitor, id: :result_team_id_visitor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
