<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Localpoints</th>
      <th>Visitorpoints</th>
      <th>Date</th>
			<th>local_team_id</th>
			<th>visitor_team_id</th>
			<th>competition_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.localPoints %></td>
        <td><%= result.visitorPoints %></td>
        <td><%= result.date %></td>
				<td><%= result.team_id_local %></td>
				<td><%= result.team_id_visitor %></td>
				<td><%= result.competition_id %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
