<h1> Results </h1>
<h3> Filtrar por fecha</h3>
<%= form_tag results_path, method: "get", remote: true do %>
<p>
  <%= text_field_tag :buscar, params[:buscar] %>
  <%= submit_tag "Buscar", name: "" %>
</p>
<% end %>
<br/>
<br/>


<div id="results">
  <%= render @results %>
</div>

<br>

<%= link_to 'New Result', new_result_path %>
