<%= render  @player %> 

<h3> Players_stats </h3>
<div  id="players">
  <%= render @players.player_stats %> 
</div>

<%= render file:'player_stats/new' %> 

<%= link_to 'Edit', edit_team_player_path(@player) %> |
<%= link_to 'Back', teams_players_path %>
